body {
    color: #363636;
    background-color: #FFFFE0;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 0;   
}

table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    text-align: center;
}

.vpravo {
    text-align: center;

}

th,
td {
    border-bottom: 1px solid #363636;
    padding: 5px 0;
}




h1 {
    font-size: 32px;
    background-color: #CD853F;
    color: #363636;
    font-style: italic;
    padding: 20px 15%;
    margin-top: 0;   
}

h2 {
    font-size: 30px;
    font-style: italic;
    color: #756158;
    margin: 0;
}

h3 {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: #756158;
    margin: 0;
    
}

img {
    width: 220px;
    height: 280px;
    float: left;
    margin:  50px 50px;
    border: 2px solid #756158;
}

li {
    display: block;
    text-align: center;   
}

.paticka {
    color: #FFFFE0;
    background-color: #756158;
    padding: 15px 0%;
}

section {
    padding: 25px 15%;

}

.b {
    margin-bottom: 30px;
}

.kontaktneudaje {
    padding-left: 30px;
}

a {
    color: #363636;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: #F4A460;
}



